* {
  outline: none;
  font-family: "HelveticaNeue";
  font-size: 16px;
  user-select: none;
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
       url('../fonts/montserrat/montserrat-v14-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat/montserrat-v14-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

input[type='checkbox'] {
  margin-right: 10px;
  position: absolute;
  /* user-select: none; */
  margin: 2px 0px 0px -20px;
}

.ta-main {
  position: absolute;
  width: calc(40vw - 1px);
  height: calc(40vh - 1px);
  resize: none;
  padding: calc(50px + 2.5vh) 5vw calc(50px + 2.5vh) 5vw;
  border: 1px solid rgba(0,0,0,0.1);
  overflow: scroll;
  background: white;
  display: inline-block;
  /* white-space: pre-wrap; */
}

#ta-main-0 {
  left: 0;
  top: 0;
}
#ta-main-1 {
  left: 50vw;
  top: 0;
}
#ta-main-2 {
  left: 0;
  top: 50vh;
}
#ta-main-3 {
  left: 50vw;
  top: 50vh;
}

#ta-main-0 wrapper .task {
  background: #37FF8B;
  color: rgba(0,0,0,0.7);
}

#ta-main-1 wrapper .task {
  background: #ff005b;
  color: white;
}

#ta-main-2 wrapper .task {
  background: rgba(0,0,0,0.1)
}

#ta-main-3 wrapper .task {
  color: rgba(0,0,0,0.9);
  background: #00d9ff;
}

.ta-main-heading {
  position: absolute;
      width: 50vw;
      /* width: calc(50vw - 20px); */
      /* margin: 10px; */
      min-height: 20px;
      /* border-radius: 8px; */
      background: #f0f0f0;
      z-index: 1;
      text-align: center;
      padding: 10px 0px;
      /* padding: 10px 0px; */
}

#ta-main-heading-0 {
  left: 0;
  top: 0;
}
#ta-main-heading-1 {
  left: 50vw;
  top: 0;
  border-left: 1px #d9d9d9 solid;
}
#ta-main-heading-2 {
  left: 0;
  top: 50vh;
}
#ta-main-heading-3 {
  left: 50vw;
  top: 50vh;
  border-left: 1px #d9d9d9 solid;
}

.wrapper {
  /* display: block; */
}

.task {
  display: inline-block;
  background: rgba(0,0,0,0.1);
  /* cursor: pointer; */
  margin: 5px 0px;
  padding: 6px 12px 6px 30px;
  border-radius: 5px;
  min-height: 20px
}

.taskXXXXX:hover {
  background: rgba(0,0,0,0.3);
}

.heading-1 {
  display: inline-block;
  background: cyan;
  padding: 8px 12px;
  margin: 5px;
  color: rgba(0,0,0,0.5);
  border-radius: 5px;
  font-family: "HelveticaNeue"
}

.hidden-space {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: red;
  opacity: 0;
}

.translucent {
  opacity: 0;
}

.display-inline-block {
  display: inline-block;
  padding-left: 1px;
}

.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.checkbox {
  height: 10px;
  width: 10px;
  color: red;
}
